<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">منو ابزار</div>
  <div class="card-body">
    <div class="card-title" >
      <div class="btn-group" *ngIf="computeButtons">
      <button   class="btn btn-secondary" (click)="refresh()">بازآوری</button>
      <button   class="btn btn-secondary" (click)="remove()">حذف</button>
      </div>
    </div>

    <div class="card-text" >
      <div class="btn-group-vertical" *ngIf="computeButtons">
        <ng-template ngFor let-computeButton [ngForOf]="computeButtons" let-i="index">
          <button (click)="select(computeButton)"  type="button" class="btn btn-secondary">{{computeButton.name}}</button>
        </ng-template>

      </div>


    </div>


  </div>
</div>
