<app-condition></app-condition>

<table class="table col-md-12" style="border:2px solid #0c5460">
  <thead>
  <tr>
    <!--  <th scope="col" colspan="1">
        <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary"><span>+</span> پارامتر ورودی
        </button>
      </th>-->
    <th scope="col" colspan="5" style="text-align:center;font-weight: bold">تنظیمات ستون ها</th>
  </tr>
  <tr>
    <th scope="col">در خروجی</th>
    <th scope="col">نام</th>
    <th scope="col">نام در جدول</th>
    <th scope="col">نام در کوئری</th>
    <th scope="col">نام  جدول</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let property of DataComponent.selectedProperties;let tableI=index;">
    <th scope="row"><input type="checkbox" [(ngModel)]="property.Property.onOutPut"></th>
    <td>{{property.Property.NameInModel}}</td>
    <td>{{property.Property.NameInTable}}</td>
    <td>{{property.Property.ModelName}}</td>

    <td><input type="text" [(ngModel)]="property.NameInTableAsName"></td>

  </tr>
  </tbody>
</table>

<table class="table col-md-12" style="border:2px solid #0c5460">
  <thead>
  <tr>
    <th scope="col" colspan="2">
      <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary"><span>+</span> پارامتر ورودی
      </button>

      <button (click)="delete()"
              class="btn btn-danger"><span>-</span> حذف
      </button>
    </th>
    <th scope="col" colspan="5" style="text-align:center;font-weight: bold">پارامتر های ورودی</th>
  </tr>
  <tr>
    <th scope="col">انتخاب</th>
    <th scope="col">نام در متد</th>
    <th scope="col">نام در SQL</th>
    <th scope="col">نام در کامنت</th>
    <th scope="col">نوع در مدل</th>
    <th scope="col">نوع در SQL</th>
    <th scope="col">عملیات</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let property of DataComponent.addParameterFields;let tableI=index;">
    <th scope="row"><input type="checkbox" [(ngModel)]="property.isSelected"></th>
    <td>{{property.nameInMethod}}</td>
    <td>{{property.nameInSQL}}</td>
    <td>{{property.nameInComment}}</td>
    <td>{{property.typeInModel}}</td>
    <td>{{property.typeInSQL}}</td>
    <td>
      <button data-toggle="modal" data-target="#conditionModal" class="btn btn-primary"><span>+</span> شرط
      </button>
      <button (click)="edit(property)" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">
        <span></span> ویرایش
      </button>
    </td>
  </tr>
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">پارامتر ورودی</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dynamic-form-save [fields]="addParameterFields" [isInline]="true"></dynamic-form-save>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        <button type="button" class="btn btn-primary" (click)="saveParameter()">ذخیره</button>
      </div>
    </div>
  </div>
</div>
