

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ReportGenerator</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="~/ReportGeneratorOutput/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/ReportGeneratorOutput/assets/iconic/open-iconic.css">
    <link rel="stylesheet" type="text/css" href="~/ReportGeneratorOutput/assets/primeicons/primeicons.css" />
    <link rel="stylesheet" type="text/css" href="~/ReportGeneratorOutput/assets//primeng/resources/themes/bootstrap/theme.css" />
    <link rel="stylesheet" type="text/css" href="~/ReportGeneratorOutput/assets//primeng/resources/primeng.min.css" />
    @*<script src="~/ReportGeneratorOutput/assets/cycle.js"></script>*@
</head>
<body>
    <app-root></app-root>


    <script>
            @{
                <text>
            window['rootUrl'] ='@Request.ApplicationPath'
                </text>
            }

    </script>
    <script src="~/ReportGeneratorOutput/assets/jquery/jquery.js"></script>
    <script src="~/ReportGeneratorOutput/assets/jquery/proper.js"></script>
    <script src="~/ReportGeneratorOutput/assets/bootstrap/bootstrap.min.js"></script>

    @*<a href="~/ReportGeneratorOutput/vendor.js.map">~/ReportGeneratorOutput/vendor.js.map</a>
        <a href="~/ReportGeneratorOutput/main.js.map">~/ReportGeneratorOutput/main.js.map</a>
        <a href="~/ReportGeneratorOutput/polyfills.js.map">~/ReportGeneratorOutput/polyfills.js.map</a>
        <a href="~/ReportGeneratorOutput/query-generator-query-generator-module.js.map">~/ReportGeneratorOutput/query-generator-query-generator-module.js.map</a>
        <a href="~/ReportGeneratorOutput/runtime.js.map">~/ReportGeneratorOutput/runtime.js.map</a>
        <a href="~/ReportGeneratorOutput/styles.js.map">~/ReportGeneratorOutput/styles.js.map</a>*@
    <script src="~/ReportGeneratorOutput/main.js"></script>
    <script src="~/ReportGeneratorOutput/polyfills.js"></script>
    <script src="~/ReportGeneratorOutput/query-generator-query-generator-module.js"></script>
    <script src="~/ReportGeneratorOutput/runtime.js"></script>
    <script src="~/ReportGeneratorOutput/styles.js"></script>
    <script src="~/ReportGeneratorOutput/vendor.js"></script>

</body>
</html>
