



<app-crud [header]="'لیست محل های کار'" [cols]="cols" [form]="form"
          [formFields]="fields"   [service]="workplacesService"


>

  <ng-template #columnHeaderContent let-columns>
    <th>ویرایش پرسنل</th>
  </ng-template>

  <ng-template #columnContent let-item>
    <td>
      <a (click)="showDialog(item)" >
        {{item.PersonnelCount}}
        پرسنل
      </a>
      </td>



  </ng-template>

</app-crud>




<p-dialog header="انتخاب پرسنل این محل کار" [(visible)]="display"
          [modal]="true"
          [responsive]="true" [style]="{width: '350px', minWidth: '200px'}"
          [minY]="70" (onHide)="reload()"
>

  <div *ngIf="display">
    <app-one-work-place-many-personnel  [oneId]="selectedOneId"  [oneTitle]="oneTitle">

    </app-one-work-place-many-personnel>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="submitOneToManyForm(); " label="ثبت"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false;" label="لغو" ></button>
  </p-footer>
</p-dialog>

