

<div class="row" #myBounds [style.height]="panelHeight+'px'">
  <table  [bounds]="myBounds" [inBounds]="true" #tables ngDraggable class="table col-md-1" style="border:2px solid #17a2b8"
         (movingOffset)="onMoving($event)"
         *ngFor="let table of DataComponent.models;let tableI=index;">
    <thead>
    <tr >
      <th scope="col" colspan="1">
        <input type="radio" name="selectMainTable"  (click)="selectMainTable(table.Model)">
      </th>

      <th scope="col" colspan="3" style="text-align:center;font-weight: bold">

        {{table.Model.Name}}
      </th>
    </tr>
    <tr>
      <th scope="col">+</th>
      <th  style="text-align: center"><input type="checkbox" (click)="toggleAllProperties(table.Model)"></th>
      <th >نام</th>
      <th scope="col">-</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let property of table.Model.Properties;let propertyI=index;">
      <th scope="row"><input type="radio" #rightRadio (click)="rightJoin(tableI,propertyI,$event.target)"></th>
      <td><input type="checkbox" (click)="selectColumn(property)" [checked]="property.onOutPut"></td>
      <td>{{property.NameInModel}}</td>
      <td><input type="radio"  (click)="leftJoin(tableI,propertyI,$event.target)"></td>
    </tr>
    </tbody>
  </table>

<!--



  <table ngDraggable class="table col-md-1" style="border:2px solid #17a2b8"
         *ngFor="let table of joinTables;let tableI=index;">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">relashionShip</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th >{{table.leftProperty.NameInModel}}</th>
      <th ></th>
      <td>{{table.rightProperty.NameInModel}}</td>
    </tr>
    </tbody>
  </table>
-->


  <svg style="overflow: hidden;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}">
    <ng-template let-line ngFor [ngForOf]="DataComponent.joinTables">
      <line   [attr.x1]="line.leftTable.elementX | HoldValue" [attr.y1]="line.leftTable.elementY | HoldValue"
            [attr.x2]="line.rightTable.elementX | HoldValue" [attr.y2]="line.rightTable.elementY | HoldValue"
            style="stroke:rgb(255,0,0);stroke-width:2"></line>
    </ng-template>
  </svg>
</div>
