<ng-template ngIf="fields">
  <div [class.row]="true" [class.form-inline]="isInline">
    <ng-template ngFor let-field [ngForOf]="fields" let-i="index">
      <div [class.form-group]="true"  [class.col-md-4]="true"
           *ngIf="field.type==FieldType.Text">
        <label [attr.for]="field.name">{{field.translate}} </label>
        <input [(ngModel)]="field.value"
               type="text" class="form-control" [attr.id]="field.name"
        [attr.required]="field.required"
               [attr.readonly]="field.readonly"
        >
      </div>
      <div [class.form-group]="true"  [class.col-md-4]="true" *ngIf="field.type==FieldType.Number">
        <label [attr.for]="field.name">{{field.translate}}</label>
        <input [(ngModel)]="field.value"
               type="number" class="form-control" [attr.id]="field.name"
               [attr.required]="field.required"
               [attr.readonly]="field.readonly">
      </div>

      <br *ngIf="i%iterate==0">

      <div [class.form-group]="true"  [class.col-md-4]="true" *ngIf="field.type==FieldType.DropDown">
        <label [attr.for]="field.name">{{field.translate}}</label>
        <select class="form-control" [attr.id]="field.name"
                [(ngModel)]="field.value"
                [attr.required]="field.required"
                [attr.readonly]="field.readonly">
          <!--<option selected>انتخاب کنید</option>-->
          <ng-template ngFor let-keyValue [ngForOf]="field.possibleValues">
            <option [value]="keyValue.value">{{keyValue.name}}</option>
          </ng-template>
        </select>
      </div>

      <div [class.form-group]="true"  [class.col-md-4]="true" *ngIf="field.type==FieldType.Checkbox">
        <label [attr.for]="field.name">{{field.translate}}</label>
        <input [(ngModel)]="field.value"
               type="checkbox" class="form-control" [attr.id]="field.name"
               [attr.required]="field.required"
               [attr.readonly]="field.readonly">
      </div>

      <div [class.form-group]="true"  [class.col-md-4]="true" *ngIf="field.type==FieldType.Radio">
        <label [attr.for]="field.name">{{field.translate}}</label>
        <input [(ngModel)]="field.value"
               type="radio" class="form-control" [attr.id]="field.name"
               [attr.required]="field.required"
               [attr.readonly]="field.readonly">
      </div>

    </ng-template>

  </div>
</ng-template>
