@model WebAppIDEEngine.Models.Core.Property
@using WebAppIDEEngine.Models.CoreEnum

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";

}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Property</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ModelId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameInModel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameInModel" class="form-control" />
                <span asp-validation-for="NameInModel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameInTable" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameInTable" class="form-control" />
                <span asp-validation-for="NameInTable" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PropertyType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PropertyType" asp-items="Html.GetEnumSelectList<PropertyType>()" class="form-control"></select>
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PropertyInDatabaseType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PropertyInDatabaseType"   asp-items="Html.GetEnumSelectList<PropertyInDatabaseType>()" class="form-control"></select>
                <span asp-validation-for="PropertyInDatabaseType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="NotMapped" />
                    <label asp-for="NotMapped"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="PK" />
                    <label asp-for="PK"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="FK" />
                    <label asp-for="FK"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Size" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Distinct" />
                    <label asp-for="Distinct"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Nullable" />
                    <label asp-for="Nullable"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NavigationPropertyId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="NavigationPropertyId" class="form-control" asp-items="ViewBag.NavigationPropertyId"></select>
                <span asp-validation-for="NavigationPropertyId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
