<?xml version="1.0" encoding="utf-8"?>
    <configuration>
        <configSections>
            <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
            <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
        <connectionStrings>
        <!--   <add name="DefaultConnection" 
                connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Engine-20180928024320.mdf;Initial Catalog=aspnet-Engine-20180928024320;Integrated Security=True" providerName="System.Data.SqlClient" />
           <add name="EngineContext" 
                connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=EngineContext-20180928145359; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|EngineContext-20180928145359.mdf" providerName="System.Data.SqlClient" />
        --> <!--
     <add name="DefaultConnection" 
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Engine-20180928024320.mdf;Initial Catalog=aspnet-Engine-20180928024320;Integrated Security=True" providerName="System.Data.SqlClient" />@1@
   -->

        <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=buludco1_demiral; MultipleActiveResultSets=True;User=sa;Password=12345678" providerName="System.Data.SqlClient" />

        <add name="EngineContext" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=buludco1_demiral; MultipleActiveResultSets=True;User=sa;Password=12345678" providerName="System.Data.SqlClient" />
        </connectionStrings>
    </configuration>
