<div class="container">

  <div [class.card]="true">
    <div class="card-header">تعریف بازه موظفی</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 form-group">
          <label> روز تعطیل  </label>
          <select class="form-control" [(ngModel)]="ObligatedRange.OffDay">
            <ng-template ngFor [ngForOf]="ObligatedRange.ObligatedRangeWeeks" let-day>
              <option [value]="day.DayOfWeek"> {{day.DayOfWeekFaName}}</option>
            </ng-template>
          </select>
        </div>
        <div class="col-md-6 form-group">
          <label for="email">نام بازه موظفی  </label>
          <input class="form-control"  type="email" placeholder="روزکار عادی" [(ngModel)]="ObligatedRange.Name" class="form-control" id="email">
        </div>

        <div class="col-md-6 form-group">
          <button class="btn btn-primary" (click)="save()" >ذخیره </button>
        </div>

      </div>
    </div>


</div>
<hr/>

<div class="container">
  <div style="display: inline-flex">
    <ng-template ngFor [ngForOf]="ObligatedRange.ObligatedRangeWeeks" let-weekDay let-i="index">
      <div [class.card]="true"
           [class.text-white]="weekDay.IsSelected && ObligatedRange.ObligatedRangeWeeks[i].DayOfWeek!=ObligatedRange.OffDay"
           [class.bg-success]="weekDay.IsSelected && ObligatedRange.ObligatedRangeWeeks[i].DayOfWeek!=ObligatedRange.OffDay"
           [class.bg-danger]="ObligatedRange.ObligatedRangeWeeks[i].DayOfWeek==ObligatedRange.OffDay"
           style="width: 150px" >
        <div class="card-header">{{weekDay.DayOfWeekFaName}}</div>
        <div class="card-body">
          <button class="btn btn-primary"   (click)="select(weekDay)" title="انتخاب"><span class="oi" data-glyph="check"></span> </button>
          <button class="btn btn-primary"   (click)="setTimes(weekDay)" title="تنظیم زمان ها"><span class="oi" data-glyph="timer"></span> </button>
          <p class="card-text">
            <ng-template ngFor [ngForOf]="weekDay.ObligatedRangeDayTimes" let-time>
              <ng-template [ngIf]="!time.IsRemoved">
                ({{time.Start.getHours()}}:{{time.Start.getMinutes()}} - {{time.End.getHours()}}:{{time.End.getMinutes()}}) <br>
              </ng-template>
            </ng-template>
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<p-dialog [(visible)]="display" [draggable]="true" [maximizable]="true"
          [closable]="true"
          [minWidth]="700"
          [responsive]="true" [rtl]="true" [resizable]="true" [height]="500">
  <p-header>
    تنظیم ساعت ها
  </p-header>

  <button class="btn btn-primary" (click)="NewObligatedRangeDayTime()">بازه جدید</button>
  <hr/>


  <ng-template [ngIf]="selectedWeek && selectedWeek.ObligatedRangeDayTimes">
    <ng-template ngFor [ngForOf]="selectedWeek.ObligatedRangeDayTimes" let-time let-i="index">
      <ng-template [ngIf]="!selectedWeek.ObligatedRangeDayTimes[i].IsRemoved">
        <div class="row">
          <div class="col-md-4">
            <label>زمان شروع </label>
            <p-calendar [(ngModel)]="selectedWeek.ObligatedRangeDayTimes[i].Start" [timeOnly]="true"></p-calendar>
          </div>
          <div class="col-md-4">
            <label>زمان پایان </label>
            <p-calendar [(ngModel)]="selectedWeek.ObligatedRangeDayTimes[i].End" [timeOnly]="true"></p-calendar>
          </div>
          <div class="col-md-4">
            <br>
            <button class="btn btn-danger" (click)="remove(selectedWeek.ObligatedRangeDayTimes[i])">حذف</button>
          </div>
        </div>

      </ng-template>
    </ng-template>
  </ng-template>
  <p-footer>
    <button class="btn btn-info" (click)="display=false">بستن</button>
  </p-footer>
</p-dialog>
</div>
