<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home"
       (click)="activeTab=1">طراحی</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2" (click)="activeTab=3">
      تنظیمات ستون ها</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1" (click)="activeTab=2">
      خروجی Query</a>
  </li>


  <!-- <li class="nav-item">
     <a class="nav-link" data-toggle="tab" href="#menu2">طراحی </a>
   </li>-->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--  <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>-->
        <ul class="navbar-nav">
          <li><a class="btn btn-outline-light" data-toggle="modal" data-target="#settingmodal"><span class="oi"
                                                                                                     data-glyph="menu"></span></a>
          </li>
          <li><a class="btn text-success" (click)="DataComponent.saveQuery()"><span class="oi"
                                                                                              data-glyph="check">ذخیره</span></a>
          </li>
          <li><a class="btn  text-success"
                 (click)="showTables=true"><span >انتخاب کوئری</span></a>
          <li><a class="btn  text-success"
                 (click)="showQueries=true"><span >انتخاب جدول</span></a>
          </li>

        </ul>
      </div>
      <a class="navbar-brand" href="#">منو</a>

    </nav>
    <app-table-design [panelHeight]="panelHeight"></app-table-design>


  </div>
  <div class="tab-pane container-fluid fade" id="menu1">
    <app-query-generator></app-query-generator>


  </div>
  <div class="tab-pane container fade" id="menu2">
    <br>
    <br>
    <app-column-setting></app-column-setting>


  </div>
</div>


<app-tables *ngIf="showTables" [display]="showTables" ></app-tables>
<app-queries *ngIf="showQueries" [display]="showQueries" ></app-queries>

<!-- Modal -->
<div class="modal fade"
     id="settingmodal" tabindex="-1" role="dialog"
     aria-labelledby="settingmodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingmodalLabel">تنظیمات</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-inline my-2 my-lg-0">
          <div class="form-group">
            <label>نام کوئری</label>
            <input type="text" [(ngModel)]="DataComponent.queryName">
          </div>
          <div class="form-group">
            <label>اندازه پنل</label>
            <input type="number" [(ngModel)]="panelHeight">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        <!--
                <button type="button" class="btn btn-primary"></button>
        -->
      </div>
    </div>
  </div>
</div>
